<%- include('./partials/header') %>

<nav>
    <img src="/images/kick.jpg"></img>
    <a href="/fighters">ALL FIGHTERS</a>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
</nav>

<h2>Home Page</h2>

<%- include('./partials/footer') %>