<%- include('../partials/header') %>

<nav>
  <img src="/images/kick.jpg"></img>
  <a href="/">HOME</a>
  <a href="/fighters/new">ADD FIGHTER</a>
  <a href="/logout">LOG OUT</a>
</nav>

<table id="list">
  <thead>
    <tr>
      <th>FIGHTER NAME</th>
      <th>ABOUT FIGHTER</th>
    </tr>
  </thead>
  <tbody>
    <% fighters.forEach(function(f) { %>
      <tr>
        <td><%= f.name %></td>
        <td><a href="/fighters/<%= f._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
