<%- include('../partials/header') %>

<nav>
  <img src="/images/kick.jpg"></img>
    <a href="/">Home</a>
    <a href="/fighters">ALL FIGHTERS</a>
    <a href="/logout">LOG OUT</a>
  </nav>

<h2>Enter a New Fighter</h2>

<form action="/fighters" method="POST">
<label>Name:
<input type="text" name="name">
</label><br>
<label>Age:
<input type="number" name="age">
</label><br>
<label>Weight:
<input type="number" name="weight">
</label><br>
<label>Record:
<input type="tel" name="record">
</label><br>
<button type="submit">Add Fighter</button>
</form>

<%- include('../partials/footer') %>